{% extends 'base.html' %}
{% block title %}Contact{% endblock title %}

{% block body %}
<style>

    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        font-family: Georgia, 'Times New Roman', Times, serif;
        text-align: center;
        padding-left: 6px;
        padding-right: 6px;
      }
      
      table.center {
        margin-top: 100px;
        margin-bottom: 100px;
        margin-left: auto; 
        margin-right: auto;
      }
</style>

<table class="center">
    <tr>
      <th>Sr. No.</th>
      <th>Director</th>
      <th>Department</th>
      <th>Tel No</th>
      <th>Email</th>
    </tr>
    <tr>
      <td>1.</td>
      <td>Shri Parmeshwar Bali , Dy. CCC</td>
      <td>Port Wing</td>
      <td>011-23318127</td>
      <td>p.bali@nic.in</td>
    </tr>
    <tr>
        <td>2.</td>
        <td>Shri Dashrath Prasad , Director (Shipping)</td>
        <td>Shipping Wing</td>
        <td>011-23321672</td>
        <td>prasad.dashrath@gov.in</td>
      </tr>
      <tr>
        <td>3.</td>
        <td>Shri Vinay Kumar Prajapati (Director)</td>
        <td>Sagarmala</td>
        <td>011-23718390</td>
        <td>vinay.prajapti@gov.in</td>
      </tr>
      <tr>
        <td>4.</td>
        <td>Shri Sandeep Gupta (Director) </td>
        <td>Administration</td>
        <td>011-23354007</td>
        <td>sandeepkr.gupta@nic.in</td>
      </tr>
      <tr>
        <td>5.</td>
        <td>Shri Abhay Vaman Sarode (Director) </td>
        <td>IWT</td>
        <td>011-23719312</td>
        <td>abhay.sarode@gov.in</td>
      </tr>
      <tr>
        <td>6.</td>
        <td>Shri Anil Pruthi Director (Engineering) </td>
        <td>Development Wing</td>
        <td>011-23711022</td>
        <td>anil.pruthi@nic.in</td>
      </tr>
  </table>


  <br><br><br><br><br><br><br><br>
{% endblock body %}