{% extends 'base2.html' %}

{% block title %}Integration{% endblock title %}


{% block body %}
<div class="row row-cols-1 row-cols-md-3 g-4" style="padding-top: 15px; text-align: center;">
    <div class="col">
        <div class="card">
            <a href="shippro"><img src="../static/img/Shipping Officials.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Shipping Official</h5>
                </div>
            </a>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <a href="portoperations"><img src="../static/img/Port Operations.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Port Operations</h5>
                </div>
            </a>
        </div>
    </div>
    {% comment %} <div class="col">
        <div class="card">
            <a href="logistics"><img src="../static/img/Logistics.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Logistics</h5>
                </div>
            </a>
        </div>
    </div> {% endcomment %}
    <div class="col">
        <div class="card">
            <a href="customs"><img src="../static/img/customs1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Customs</h5>
                </div>
            </a>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <a href="immigrations"><img src="../static/img/immigrations.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Immigration</h5>
                </div>
            </a>
        </div>
    </div>
</div>
<br><br><br>


{% endblock body %}


